body,
html {
  margin: 0px !important;
  padding: 0px;
}

.react-tabs__tab-list {
  margin-bottom: 1px !important;
}

.ag-header-cell-resize {
  background-color: rgb(174, 174, 174);
  width: 8px !important; /* Set the width of your icon */
  height: "100%" !important;
  border-radius: 20%;
}

.ag-header {
  height: 28px;
  cursor: pointer;
  font-size: larger;
  background-color: rgb(225, 225, 225);
}

.ag-header-cell .ag-focus-managed {
  cursor: pointer;
}
.ag-header-cell:hover {
  background-color: rgb(65, 198, 231) !important;
}

.ag-header-cell-text {
  margin-left: 6px !important;
}
